div{margin:0;border:0;padding:0;}

body
{
    margin: 0;
    background-image: url("background_main.png");
    background-size: cover;
    height: 100%;
}
.homepage_background
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    font-size: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    backdrop-filter: blur(10px);
}

.head_container
{
    width: 100%;
    height:300px;
    text-align: center;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
#head
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    box-shadow: 0 0 10px white;
}
.head_container:hover
{
    transform: scale(1.05);
}


.introduction
{
    margin: 0;
    text-align: center;
    justify-content: center;
    font-size: 0;
}
.introduction_container
{
    list-style-type: none;
    font-size: 0;
}
#name
{
    height: 125px;
    font-size: 100px;
    font-family: Gabriola;
    user-select: none;
    color: white;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
#note
{
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-family: Gabriola;
    user-select: none;
    color: ghostwhite;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
#name:hover , #note:hover
{
    transform: scale(1.1);
}
.relative_elements
{
    font-size: 50px;
}

.relative_list
{
    margin: 0;
    height: 100%;
    display: flex;
    gap: 150px;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    font-size: 75px;
}

.icon
{
    font-family: FontAwesome;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 75px;
    width:75px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
}
.icon:hover
{
    transform: scale(1.1);
}
